/* AboutMe.css */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50%);
        /* Increase the bounce height */
    }
}

.bounce {
    display: inline-block;
    /* Ensure the element can be transformed */
    animation: bounce 1s ease-in-out;
}