html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  background-color: #000106;
  /* Fallback background color */
  background-image: url('./assets/background.png');
  background-size: contain;
  /* Use 'auto' to keep the image's original size */
  background-position: center top;
  /* Adjust this to position the image as desired */
  background-repeat: no-repeat;
}

.main-content {
  padding: 1rem;
  /* This adds space around your content area */
  /* Your other styles... */
}