html,
body,
#root {
  height: 100%;
  margin: 0;
  /* Reset default margin */
  padding: 0;
  /* Ensure there's no padding as well */
}

.App {
  min-height: 100vh;
  /* 100% of the viewport height */
  background-image: url('./assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* This will keep the background image fixed during scroll */
}